<p style="color: green"><%= notice %></p>

<%= render @test3 %>

<div>
  <%= link_to "Edit this test3", edit_test3_path(@test3) %> |
  <%= link_to "Back to test3s", test3s_path %>

  <%= button_to "Destroy this test3", @test3, method: :delete %>
</div>
