<p style="color: green"><%= notice %></p>

<%= render @test2 %>

<div>
  <%= link_to "Edit this test2", edit_test2_path(@test2) %> |
  <%= link_to "Back to test2s", test2s_path %>

  <%= button_to "Destroy this test2", @test2, method: :delete %>
</div>
